Calcula la suma y multiplicación de las velocidades para cada muestra en diferentes cortes de eventos

In [11]:
import pandas as pd
from pathlib import Path
import os

def calculate(filename):
    directory = os.path.join(Path().absolute(), "speed-prediction-logs")
    path = os.path.join(directory, "TimeWindow")
    path = os.path.join(path, filename + ".csv")
    df = pd.read_csv(path)

    df = df.fillna(0)
    
    df["sum" + filename] = df["avgSpeedPerTest"] + df["avgIntratecla"] + df["avgScrollSpeed"]
    df["mul" + filename] = df["avgSpeedPerTest"] * df["avgIntratecla"] * df["avgScrollSpeed"]

    column_names = df.columns.values.tolist()
    column_names.remove('name')
    column_names.remove("sum" + filename)
    column_names.remove("mul" + filename)
    for name in column_names:
        df.pop(name)
    
    return df

directory = os.path.join(Path().absolute(), "speed-prediction-logs")
path = os.path.join(directory, "TimeWindow")
path = os.path.join(path, str(5000) + ".csv")
df = pd.read_csv(path)

logs = range(10000,121000,5000)
for name in logs:
    df = df.merge(right=calculate(str(name)), on='name', how='left')

speed_df = df.copy(deep=True)

for name in logs:
    name = str(name)
    df["sum"+name] = df["sum"+name]  / df["sum120000"]
    df["mul"+name] = df["mul"+name]  / df["mul120000"]

speed_df_norm = df
#speed_df_norm.to_csv('speed_prediction_normalized.csv')

In [12]:
speed_df

,Unnamed: 0,name,avgSpeedPerTest,clicksPerTest,timePerTest,avgScrollSpeed,level,avgFocusDuration,totalFocus,avgPauseDuration,...,sum100000,mul100000,sum105000,mul105000,sum110000,mul110000,sum115000,mul115000,sum120000,mul120000
0,0,nasty_rattlesnake_smqzik,0.271677,0,4654,NaN,NaN,NaN,NaN,NaN,...,0.114256,0.000000,0.115499,0.000000,0.114793,0.000000,0.110359,0.000000,0.108308,0.000000
1,1,green_pug_1ucwu8,0.288026,3,4570,NaN,3.0,NaN,NaN,NaN,...,313.484366,21.317802,313.459867,22.834938,313.420467,21.051376,313.385128,20.595265,313.346121,20.764651
2,2,bad_shrimp_fm1rvh,0.107811,0,4002,NaN,1.0,NaN,NaN,NaN,...,0.083238,0.000000,0.083668,0.000000,0.085551,0.000000,0.084470,0.000000,0.088562,0.000000
3,3,afraid_lion_gneruj,0.224082,3,4626,NaN,4.0,367.0,1.0,NaN,...,501.830308,0.492183,501.830308,0.492183,501.830308,0.492183,501.830308,0.492183,501.830308,0.492183
4,4,cowardly_dolphin_md3hlg,1.405025,0,500,NaN,3.0,NaN,NaN,NaN,...,299.185225,0.705971,299.180490,0.653567,348.451401,0.672354,345.705733,0.665363,345.713644,0.933372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,heavy_hound_vju4en,0.253390,0,4583,NaN,NaN,NaN,NaN,NaN,...,0.147035,0.000000,0.147035,0.000000,0.147035,0.000000,0.147035,0.000000,0.147035,0.000000
221,221,curvy_mule_nz90m7,0.223445,0,4967,NaN,NaN,NaN,NaN,2028.0,...,649.624479,0.178698,671.249395,0.183545,671.251659,0.188490,671.273194,0.730189,671.273395,0.730665
222,222,nervous_zebra_w91ztl,0.188531,0,3824,NaN,NaN,NaN,NaN,NaN,...,2469.118477,4.811736,2469.118477,4.811736,2469.118477,4.811736,2469.118477,4.811736,2469.118477,4.811736
223,223,smooth_pug_gfmcj9,0.127001,0,3081,NaN,3.0,143.0,1.0,NaN,...,451.203864,0.488212,451.205071,0.482712,451.200769,0.433269,451.205475,0.537285,451.202904,0.501910
224,224,tasty_bullfrog_ww274d,0.072938,3,4582,NaN,3.0,292.0,1.0,NaN,...,761.648272,1.422443,761.648272,1.422443,761.648272,1.422443,761.648272,1.422443,761.648272,1.422443

Observar los números calculados por suma

In [13]:
def remove_columns_that_starts_with(df, prefix):
    column_names = df.columns.values.tolist()
    for name in column_names:
        if name.startswith(prefix):
            df.pop(name)
    return df

speed_df_only_sum = speed_df.copy(deep=True)
speed_df_only_sum = remove_columns_that_starts_with(speed_df_only_sum, "mul")
speed_df_only_sum

,Unnamed: 0,name,avgSpeedPerTest,clicksPerTest,timePerTest,avgScrollSpeed,level,avgFocusDuration,totalFocus,avgPauseDuration,...,sum75000,sum80000,sum85000,sum90000,sum95000,sum100000,sum105000,sum110000,sum115000,sum120000
0,0,nasty_rattlesnake_smqzik,0.271677,0,4654,NaN,NaN,NaN,NaN,NaN,...,0.101846,0.106515,0.111456,0.111298,0.114378,0.114256,0.115499,0.114793,0.110359,0.108308
1,1,green_pug_1ucwu8,0.288026,3,4570,NaN,3.0,NaN,NaN,NaN,...,313.827602,291.210204,312.999469,313.502034,313.488562,313.484366,313.459867,313.420467,313.385128,313.346121
2,2,bad_shrimp_fm1rvh,0.107811,0,4002,NaN,1.0,NaN,NaN,NaN,...,0.089166,0.089095,0.081540,0.078715,0.083344,0.083238,0.083668,0.085551,0.084470,0.088562
3,3,afraid_lion_gneruj,0.224082,3,4626,NaN,4.0,367.0,1.0,NaN,...,501.830308,501.830308,501.830308,501.830308,501.830308,501.830308,501.830308,501.830308,501.830308,501.830308
4,4,cowardly_dolphin_md3hlg,1.405025,0,500,NaN,3.0,NaN,NaN,NaN,...,259.934764,259.944517,259.958615,259.949463,299.189554,299.185225,299.180490,348.451401,345.705733,345.713644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,heavy_hound_vju4en,0.253390,0,4583,NaN,NaN,NaN,NaN,NaN,...,0.147035,0.147035,0.147035,0.147035,0.147035,0.147035,0.147035,0.147035,0.147035,0.147035
221,221,curvy_mule_nz90m7,0.223445,0,4967,NaN,NaN,NaN,NaN,2028.0,...,696.467196,696.465754,690.684148,669.067142,665.395783,649.624479,671.249395,671.251659,671.273194,671.273395
222,222,nervous_zebra_w91ztl,0.188531,0,3824,NaN,NaN,NaN,NaN,NaN,...,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477,2469.118477
223,223,smooth_pug_gfmcj9,0.127001,0,3081,NaN,3.0,143.0,1.0,NaN,...,451.194144,451.195164,451.191828,451.192683,451.204135,451.203864,451.205071,451.200769,451.205475,451.202904
224,224,tasty_bullfrog_ww274d,0.072938,3,4582,NaN,3.0,292.0,1.0,NaN,...,761.648272,761.648272,761.648272,761.648272,761.648272,761.648272,761.648272,761.648272,761.648272,761.648272

In [14]:
speed_df_only_sum.describe()

,Unnamed: 0,avgSpeedPerTest,clicksPerTest,timePerTest,avgScrollSpeed,level,avgFocusDuration,totalFocus,avgPauseDuration,totalPauses,...,sum75000,sum80000,sum85000,sum90000,sum95000,sum100000,sum105000,sum110000,sum115000,sum120000
count,225.000000,223.000000,225.000000,225.00000,89.000000,147.000000,80.000000,80.000000,15.000000,15.0,...,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000
mean,112.000000,0.272916,0.911111,4374.48000,0.082029,2.891156,407.579167,1.137500,2521.533333,1.0,...,868.144104,805.369475,741.056830,761.289133,864.495143,854.139056,946.825118,948.965257,949.509410,955.175479
std,65.096083,0.170353,1.184389,903.76806,0.122065,0.892351,531.422152,0.381328,601.996069,0.0,...,2327.762396,1845.753616,1543.416859,1533.305848,2263.024976,2211.962866,2587.702556,2583.640260,2583.222703,2591.897220
min,0.000000,0.001407,0.000000,0.00000,0.005657,1.000000,2.000000,1.000000,2028.000000,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,56.000000,0.173010,0.000000,4352.00000,0.027033,2.000000,126.125000,1.000000,2198.500000,1.0,...,189.269563,181.020710,185.221542,194.408431,198.394256,199.372358,203.491319,210.820109,207.246920,203.491319
50%,112.000000,0.241528,0.000000,4684.00000,0.050875,3.000000,273.000000,1.000000,2274.000000,1.0,...,350.862475,354.746596,354.145331,358.958666,372.177439,370.859131,367.421343,385.771519,373.997484,373.999092
75%,168.000000,0.350608,1.000000,4888.00000,0.085311,4.000000,396.625000,1.000000,2519.500000,1.0,...,566.574013,578.227079,587.507045,613.872564,623.051528,612.357807,629.389368,629.389368,640.087995,640.087995
max,224.000000,1.405025,6.000000,5000.00000,0.982921,4.000000,2681.000000,3.000000,4021.000000,1.0,...,24215.104416,15263.065772,11221.203235,11221.193655,25963.019268,25963.018315,25963.020618,25963.020274,25963.018929,25963.019640

Ver cuanto se acercan los valores de la suma al final

In [18]:
df_test = speed_df_only_sum.copy(deep=True)
column_names = df_test.columns.values.tolist()
for name in column_names:
    if "120000" in name:
        continue
    if name.startswith("sum"):
        #amount = name.replace("sum","")
        #amount = int(amount)
        #df_test.loc[amount > df["count"], name] = None

        df_test[name] = df_test[name] / df_test["sum120000"]

def remove_columns_that_dont_have(df, word):
    column_names = df.columns.values.tolist()
    for name in column_names:
        if word not in name:
            df.pop(name)
    return df

df_test = remove_columns_that_dont_have(df_test, "sum")

,Unnamed: 0,name,avgSpeedPerTest,clicksPerTest,timePerTest,avgScrollSpeed,level,avgFocusDuration,totalFocus,avgPauseDuration,...,sum75000,sum80000,sum85000,sum90000,sum95000,sum100000,sum105000,sum110000,sum115000,sum120000
0,0,nasty_rattlesnake_smqzik,0.271677,0,4654,NaN,NaN,NaN,NaN,NaN,...,0.940338,0.983444,1.029068,1.027606,1.056048,1.054914,1.066391,1.059880,1.018936,0.108308
1,1,green_pug_1ucwu8,0.288026,3,4570,NaN,3.0,NaN,NaN,NaN,...,1.001537,0.929356,0.998894,1.000498,1.000455,1.000441,1.000363,1.000237,1.000124,313.346121
2,2,bad_shrimp_fm1rvh,0.107811,0,4002,NaN,1.0,NaN,NaN,NaN,...,1.006817,1.006022,0.920709,0.888808,0.941080,0.939887,0.944736,0.965997,0.953791,0.088562
3,3,afraid_lion_gneruj,0.224082,3,4626,NaN,4.0,367.0,1.0,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,501.830308
4,4,cowardly_dolphin_md3hlg,1.405025,0,500,NaN,3.0,NaN,NaN,NaN,...,0.751879,0.751907,0.751948,0.751921,0.865426,0.865413,0.865400,1.007919,0.999977,345.713644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,heavy_hound_vju4en,0.253390,0,4583,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.147035
221,221,curvy_mule_nz90m7,0.223445,0,4967,NaN,NaN,NaN,NaN,2028.0,...,1.037531,1.037529,1.028916,0.996713,0.991244,0.967749,0.999964,0.999968,1.000000,671.273395
222,222,nervous_zebra_w91ztl,0.188531,0,3824,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2469.118477
223,223,smooth_pug_gfmcj9,0.127001,0,3081,NaN,3.0,143.0,1.0,NaN,...,0.999981,0.999983,0.999975,0.999977,1.000003,1.000002,1.000005,0.999995,1.000006,451.202904
224,224,tasty_bullfrog_ww274d,0.072938,3,4582,NaN,3.0,292.0,1.0,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,761.648272

In [ ]:
df_test.describe()